# App configuration (Project Root)
APP_PORTS=80,443

# Infrastructure configuration
SERVER_COUNT=2

# For Infrastructure secrets:
# Create secrets/hcloud_token.secret and add:
# HCLOUD_TOKEN=your_token_here
